#counter {
	margin: auto;
	padding: 20px;
	color: #000;
	text-decoration: none;
}

button {
	margin: 2px;
	padding: 10px;
	background-color: #FF9933;
	border-style: none;
	color: #fff;
	cursor: pointer;
	outline: none;
	border-radius: 40%;
}

#number {
	color: #000;
	text-shadow:
		-1px -1px 0 #eee,
		1px -1px 0 #eee,
		-1px 1px 0 #eee,
		1px 1px 0 #eee;
}

.font-strong {
	font-weight: bolder;
	font-size: 130%;
}
